/* Estilos para a página do usuário */
.user-page-container {
  padding: 20px;
  padding-top: 80px; /* Ajuste conforme a altura do seu header */
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o conteúdo ocupe a altura total da tela */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

.results-container {
  margin-top: 20px;
}

.results-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results-container li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Estilos para garantir a responsividade */
@media (max-width: 768px) {
  .results-container {
    flex-direction: column;
  }

  .results-container li {
    font-size: 14px;
  }
}

/* Ajustes específicos para pequenos dispositivos */
@media (max-width: 480px) {
  .results-container li {
    font-size: 12px;
  }

  .results-container img {
    max-width: 100%;
    height: auto;
  }
}
